package link

import "believer/movies/utils"

type Props struct {
	Class string
	Href  templ.SafeURL
}

templ Link(p Props) {
	<a
		class={ utils.TwMerge("md:text-sm tabular-nums inline-flex items-center gap-1 border-b border-dashed border-content-secondary link-focus", p.Class) }
		href={ p.Href }
	>
		{ children... }
	</a>
}
