package typography

import "believer/movies/components/link"

type H1Props struct {
	Subtitle string
}

templ H1(props ...H1Props) {
	{{ var p H1Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<header class="page-header">
		@link.Link(link.Props{
			Href: "#",
			Attrs: templ.Attributes{
				"aria-label": "Back",
				"_":          "on click go back",
			},
		}) {
			..
		}
		<span class="page-header__divider">/</span>
		<div class="title">
			<h1>
				{ children... }
			</h1>
			if p.Subtitle != "" {
				<div class="subtitle">
					{ p.Subtitle }
				</div>
			}
		</div>
	</header>
}
