package typography

import "believer/movies/components/link"

templ H1() {
	<header class="page-header">
		@link.Link(link.Props{
			Href: "#",
			Attrs: templ.Attributes{
				"aria-label": "Back",
				"_":          "on click go back",
			},
		}) {
			..
		}
		<span class="page-header__divider">/</span>
		<h1>
			{ children... }
		</h1>
	</header>
}
