package typography

import "believer/movies/components/link"

type Props struct {
	ToRoot bool
}

templ H1(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<header class="page-header">
		@link.Link(link.Props{
			Href:        "#",
			Hyperscript: "on click go back",
			ToRoot:      p.ToRoot,
			Attrs: templ.Attributes{
				"aria-label": "Back",
			},
		}) {
			..
		}
		<span class="page-header__divider">/</span>
		<h1>
			{ children... }
		</h1>
	</header>
}
