<div class="flex flex-col gap-8 text-sm text-neutral-500 dark:text-neutral-400">
  {{ range .Cast }}
  <section class="flex flex-col gap-4">
    <h2
      class="flex items-center gap-4 font-medium text-neutral-700 dark:text-neutral-300 after:h-[0.5px] after:flex-grow after:bg-neutral-300 dark:after:bg-neutral-700"
    >
      {{ .Job }}
    </h2>
    <ul class="grid grid-cols-1 gap-2 sm:grid-cols-2">
      {{ range .Person }}
      <li>
        <a
          class="border-b border-dashed border-neutral-500 dark:border-neutral-400"
          href="/person/{{ .ID }}"
          hx-swap="innerHTML transition:true"
          style="view-transition-name: person-{{ .ID }}"
        >
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
  {{ end }}
</div>
