<section
  class="flex flex-col gap-4 text-neutral-500 dark:text-neutral-400 md:text-sm"
>
  {{ if gt (len .WatchedAt) 0}}
  <ol class="flex flex-col gap-2">
    {{ range .WatchedAt }}
    <li class="tabular-nums">{{ .Format "2006-01-02 15:04" }}</li>
    {{ end }} {{ if .IsAdmin }}
    <li>
      <a
        href="#"
        hx-post="/movies/{{ .ID }}/seen"
        class="border-b border-dashed border-neutral-500 dark:border-neutral-400"
        >Add new watch</a
      >
    </li>
    {{ end }}
  </ol>
  {{ else }}
  <span>No watches found</span>
  {{ end }}
</section>
