# fly.toml app configuration file generated for movies-go on 2023-09-21T13:59:11+02:00

app = "movies-go"
primary_region = "arn"

[[vm]]
  size = "shared-cpu-2x"
  memory = "512mb"

[build.args]
  GO_VERSION = "1.25.3"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
