@import 'tailwindcss';

/* Design tokens */
@theme inline {
  /* Background */
  --color-background-primary: light-dark(
    var(--color-white),
    var(--color-neutral-900)
  );

  --color-background-secondary: light-dark(
    var(--color-neutral-200),
    var(--color-neutral-800)
  );

  /* Border */
  --color-border-primary: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-700)
  );

  /* Content */
  --color-content-primary: light-dark(
    var(--color-neutral-700),
    var(--color-neutral-300)
  );

  --color-content-secondary: light-dark(
    var(--color-neutral-500),
    var(--color-neutral-400)
  );

  --color-content-tertiary: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-700)
  );
}

:root {
  /* Enable light and dark mode colors */
  color-scheme: light dark;
}

/* Component styles */
@layer components {
  .link-focus {
    @apply focus-visible:outline-1 focus-visible:rounded-xs focus-visible:outline-dashed focus-visible:outline-offset-3 focus-visible:outline-content-secondary;
  }

  .year {
    @apply block text-3xl lg:text-7xl font-mono text-transparent lg:absolute lg:-top-4 -left-52 [-webkit-text-stroke-color:rgba(163_163_163/1)] dark:[-webkit-text-stroke-color:rgba(82_82_82/1)] z-20 bg-white dark:bg-neutral-900 py-2 lg:py-4 focus-visible:outline-1 focus-visible:rounded-xs focus-visible:outline-dashed focus-visible:outline-offset-3 focus-visible:outline-content-secondary;

    -webkit-text-stroke-width: 2px;
  }
}

/* These handle positioning when the element sticks,
* .year and .month are use to align with the list items */
.year-indicator {
  @apply sticky top-0 lg:top-4 z-20 my-0;
}

.month-indicator {
  @apply sticky top-12 lg:top-24 z-10 my-0;
}

.month {
  @apply text-lg lg:text-xl lg:absolute lg:-top-1 -left-49 z-10 bg-white dark:bg-neutral-900 py-1 lg:w-40 lg:text-right text-neutral-400 dark:text-neutral-700;
}

/* Scroll driven animation to fade in date indicators
* Note that the order of the properties seems to be important here,
* animation needed to be before animation-timeline.
* */
@media (prefers-reduced-motion: no-preference) and (min-width: 1024px) {
  @supports (animation-range: 0 50vh) {
    .year,
    .month {
      opacity: 0;
      transform: translateY(50px);
      animation: fade-in linear forwards;
      animation-timeline: view();
      /* Start at 0px (when it comes into view), end at half the screen height */
      animation-range: 0 50vh;
    }

    @keyframes fade-in {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@supports (anchor-name: --myanchor) {
  [popover] {
    @apply m-1 border-none hidden opacity-0;

    transition:
      opacity 500ms,
      display 500ms allow-discrete,
      overlay 500ms allow-discrete;

    &:popover-open {
      @apply block opacity-100;

      @starting-style {
        opacity: 0;
      }
    }
  }
}

/* TODO: Remove once Safari and Firefox supports it */
@supports not (anchor-name: --myanchor) {
  [popovertarget] {
    pointer-events: none;
  }
}

/* htmx loading indicators */
.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

.htmx-request.htmx-indicator {
  opacity: 1;
}
