<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="text-slate-800" hx-boost="true">
    <main>{{embed}}</main>
  </body>
</html>
