<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles.css" rel="stylesheet" />
    <script src="/public/htmx.1.9.6.min.js"></script>
    <script src="/public/hyperscript.0.9.12.min.js"></script>
  </head>
  <body
    class="text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300"
    hx-boost="true"
  >
    <main>{{embed}}</main>
  </body>
</html>
