<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles.923eee.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </head>
  <body
    class="text-neutral-700 dark:text-neutral-300 dark:bg-neutral-900"
    hx-boost="true"
  >
    <main>{{embed}}</main>
  </body>
</html>
