.input {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-2);

  &:has(*:required) label::after {
    margin-inline-start: calc(var(--spacing-1) / 2);
    color: var(--color-content-tertiary);
    content: "*";
  }

  label:has(+ :where(input, textarea, select)) {
    font-size: var(--text-sm);
    font-weight: 600;
    color: var(--color-content-secondary);
  }

  input:not([type="checkbox"]) {
    height: 44px;
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-4);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius, var(--spacing-1));

    &:placeholder-shown {
      color: var(--color-content-secondary);
    }

    /* Hide up/down arrows inside number input */
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  textarea {
    width: 100%;
    height: 160px;
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-4);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--rounded-sm);
  }

  .help {
    font-size: var(--text-xs);
    color: var(--color-content-secondary);
  }
}

.radio-group {
  display: flex;
  column-gap: var(--spacing-4);

  & > div {
    display: flex;
    column-gap: var(--spacing-1);
  }

  input {
    accent-color: var(--color-content-highlight);
  }
}
