.graph {
  .bar {
    fill: var(--color-background-secondary);
    stroke: var(--color-content-tertiary);
    transform: scaleY(1);
    transform-origin: center 180px;
    transition: transform 1s;
    transition-delay: 200ms;

    &.active {
      fill: var(--color-background-tertiary);
    }

    @starting-style {
      transform: scaleY(0);
    }
  }

  .value {
    font-size: var(--text-sm);
    font-variant-numeric: tabular-nums;
    opacity: 0;
    fill: var(--color-content-secondary);
    transition: opacity 150ms ease-in-out;

    &.active {
      opacity: 100;
    }
  }
}
