.page-header {
  display: flex;
  column-gap: var(--spacing-2);
  align-items: baseline;
  font-size: var(--text-xl);
  font-weight: 600;

  .page-header__divider {
    color: var(--color-content-secondary);
  }
}
