.checkbox {
  display: flex;
  column-gap: var(--spacing-2);
  align-items: center;

  input {
    height: var(--spacing-4);
    accent-color: var(--color-neutral-700);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--rounded-sm);
  }
}
