package views

import (
	"believer/movies/components/link"
	"believer/movies/components/list"
	"believer/movies/components/section"
	"believer/movies/components/separator"
	"believer/movies/utils"
	"fmt"
)

type CastAndCrewDTO struct {
	Name      string `json:"name"`
	ID        int32  `json:"id"`
	Character string `json:"character"`
}

func (p CastAndCrewDTO) LinkTo() string {
	return fmt.Sprintf("/person/%s-%d", utils.Slugify(p.Name), p.ID)
}

type CastDTO struct {
	Job    string           `json:"job"`
	People []CastAndCrewDTO `json:"people"`
}

templ CastList(castOrCrew []CastDTO, hasCharacters bool) {
	for _, job := range castOrCrew {
		@section.Section(section.Props{Title: job.Job}) {
			@list.Ol() {
				for _, person := range job.People {
					@list.Li(list.LiProps{Class: "wrapped"}) {
						@link.Link(link.Props{Href: person.LinkTo()}) {
							{ person.Name }
						}
						if person.Character != "" {
							@separator.Separator()
							<div class="trailing">{ person.Character }</div>
						}
					}
				}
			}
		}
	}
}
