<form
  hx-post="/login"
  class="mx-auto flex max-w-xl flex-col gap-6 px-4 py-8"
  hx-swap="outerHTML"
>
  <div class="relative flex flex-col gap-2">
    <label
      for="username"
      class="text-sm font-semibold text-neutral-500 dark:text-neutral-400"
    >
      Username
    </label>
    <input
      required
      type="text"
      name="username"
      id="username"
      class="w-full rounded border border-neutral-200 bg-transparent px-4 py-2 ring-offset-2 ring-offset-white focus:outline-none focus:ring-2 focus:ring-neutral-400 dark:border-neutral-700 dark:ring-offset-neutral-900 dark:focus:ring-neutral-500"
    />
  </div>

  <div class="relative flex flex-col gap-2">
    <label
      for="password"
      class="text-sm font-semibold text-neutral-500 dark:text-neutral-400"
    >
      Password
    </label>
    <input
      required
      type="password"
      name="password"
      id="password"
      class="w-full rounded border border-neutral-200 bg-transparent px-4 py-2 ring-offset-2 ring-offset-white focus:outline-none focus:ring-2 focus:ring-neutral-400 dark:border-neutral-700 dark:ring-offset-neutral-900 dark:focus:ring-neutral-500"
    />
  </div>
  <footer class="flex flex-col gap-4">
    {{ if .Error }}
    <div class="text-sm text-red-500">{{ .Error }}</div>
    {{ end }}
    <div>
      <button
        class="rounded bg-neutral-200 px-6 py-2 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200"
        type="submit"
      >
        Login
      </button>
    </div>
  </footer>
</form>
