<div class="max-w-xl mx-auto py-8 px-5 flex flex-col gap-8">
  <h1
    class="text-xl font-semibold flex gap-2 items-baseline"
    style="view-transition-name: movie-{{ .Movie.Id }}"
  >
    <a
      class="text-sm text-slate-500"
      href="#"
      hx-swap="innerHTML transition:true"
      _="on click go back"
    >
      ..
    </a>
    <span class="text-slate-400 font-regular">/</span>{{ .Movie.Title }}
  </h1>

  <p class="text-slate-500">{{ .Movie.Overview }}</p>

  <div class="text-sm text-slate-600 flex flex-col gap-4">
    <h2
      class="font-medium text-slate-700 flex items-center gap-4 after:flex-grow after:bg-slate-300 after:h-[0.5px]"
    >
      Metadata
    </h2>
    <dl class="grid gap-x-6 gap-y-2 grid-cols-[max-content_1fr]">
      <dd class="font-semibold">Release date</dd>
      <dt>{{ .Movie.ReleaseDate.Format "2006-01-02" }}</dt>
      <dd class="font-semibold">Runtime</dd>
      <dt>{{ .Movie.RuntimeFormatted }}</dt>
      <dd class="font-semibold">IMDb</dd>
      <dt>
        <a
          href="https://www.imdb.com/title/{{ .Movie.ImdbId }}"
          class="border-b border-dotted border-emerald-600"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link
        </a>
      </dt>
      <dd class="font-semibold">Genres</dd>
      <dt>{{ StringsJoin .Movie.Genres ", " }}</dt>
      <dd class="font-semibold">Watched</dd>
      <dt hx-get="/movies/{{ .Movie.Id }}/seen" hx-trigger="load"></dt>
    </dl>
  </div>

  <div
    hx-get="/movies/{{ .Movie.Id }}/cast"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
</div>
