<div class="mx-auto flex max-w-xl flex-col gap-8 px-5 py-8">
  <h1
    class="flex items-baseline gap-2 text-xl font-semibold"
    style="view-transition-name: movie-{{ .Movie.ID }}"
  >
    <a
      class="text-sm text-neutral-500 focus:outline-none focus-visible:rounded-sm focus-visible:outline-dashed focus-visible:outline-offset-2 focus-visible:outline-neutral-400 dark:text-neutral-400 dark:focus-visible:outline-neutral-600"
      href="#"
      _="on click go back"
    >
      ..
    </a>
    <span class="font-regular text-neutral-400">/</span>{{ .Movie.Title }}
  </h1>

  {{ if .Movie.Overview }}
  <p class="text-neutral-500 dark:text-neutral-400">{{ .Movie.Overview }}</p>
  {{ end }}
  <section
    class="flex flex-col gap-4 text-neutral-500 dark:text-neutral-400 md:text-sm"
  >
    {{ template "partials/data-section-title" "Metadata" }}
    <dl class="grid grid-cols-[max-content_1fr] gap-x-6 gap-y-2">
      <dd class="font-semibold">Release date</dd>
      <dt class="tabular-nums">{{ .Movie.ReleaseDate.Format "2006-01-02" }}</dt>
      <dd class="font-semibold">Runtime</dd>
      <dt>{{ .Movie.RuntimeFormatted }}</dt>
      <dd class="font-semibold">IMDb</dd>
      <dt>
        <a
          href="https://www.imdb.com/title/{{ .Movie.ImdbId }}"
          class="inline-flex items-center gap-1 focus:outline-none focus-visible:rounded-sm focus-visible:outline-dashed focus-visible:outline-offset-2 focus-visible:outline-neutral-400 dark:focus-visible:outline-neutral-600"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span
            class="border-b border-dashed border-neutral-500 dark:border-neutral-400"
          >
            {{ .Movie.ImdbId }}
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
            />
          </svg>
        </a>
      </dt>
      <dd class="font-semibold">Genres</dd>
      <dt>{{ StringsJoin .Movie.Genres ", " }}</dt>
      <dd class="font-semibold">Watched</dd>
      <dt hx-get="/movies/{{ .Movie.ID }}/seen" hx-trigger="load"></dt>
      <dd class="font-semibold">Rating</dd>
      <dt>{{ .Movie.Rating }}</dt>
    </dl>
  </section>
  <div
    hx-get="/movies/{{ .Movie.ID }}/cast"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
</div>
