<div class="mx-auto flex max-w-xl flex-col gap-8 px-5 py-8">
  <h1
    class="flex items-baseline gap-2 text-xl font-semibold"
    style="view-transition-name: movie-{{ .Movie.ID }}"
  >
    <a
      class="text-sm text-neutral-500 dark:text-neutral-400"
      href="#"
      hx-swap="innerHTML transition:true"
      _="on click go back"
    >
      ..
    </a>
    <span class="font-regular text-neutral-400">/</span>{{ .Movie.Title }}
  </h1>

  {{ if .Movie.Overview }}
  <p class="text-neutral-500 dark:text-neutral-400">{{ .Movie.Overview }}</p>
  {{ end }}

  <section
    class="flex flex-col gap-4 text-sm text-neutral-500 dark:text-neutral-400"
  >
    <h2
      class="flex items-center gap-4 font-medium text-neutral-700 dark:text-neutral-300 after:h-[0.5px] after:flex-grow after:bg-neutral-300 dark:after:bg-neutral-700"
    >
      Metadata
    </h2>
    <dl class="grid grid-cols-[max-content_1fr] gap-x-6 gap-y-2">
      <dd class="font-semibold">Release date</dd>
      <dt class="tabular-nums">{{ .Movie.ReleaseDate.Format "2006-01-02" }}</dt>
      <dd class="font-semibold">Runtime</dd>
      <dt>{{ .Movie.RuntimeFormatted }}</dt>
      <dd class="font-semibold">IMDb</dd>
      <dt>
        <a
          href="https://www.imdb.com/title/{{ .Movie.ImdbId }}"
          class="border-b border-dashed border-neutral-500 dark:border-neutral-400"
          target="_blank"
          rel="noopener noreferrer"
        >
          Link
        </a>
      </dt>
      <dd class="font-semibold">Genres</dd>
      <dt>{{ StringsJoin .Movie.Genres ", " }}</dt>
      <dd class="font-semibold">Watched</dd>
      <dt hx-get="/movies/{{ .Movie.ID }}/seen" hx-trigger="load"></dt>
    </dl>
  </section>
  <div
    hx-get="/movies/{{ .Movie.ID }}/cast"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
</div>
