package views

import "believer/movies/components/link"
import "believer/movies/components/layout"

templ NotFound() {
	@layout.Html(layout.Props{Title: "Not found"}) {
		<div class="not-found">
			<div>
				<h1>
					Not found
				</h1>
				@link.Link(link.Props{ToRoot: true}) {
					Go back home
				}
			</div>
		</div>
	}
}
