<div
  class="mx-auto flex max-w-xl flex-col gap-8 px-5 py-8"
  style="view-transition-name: person-{{ .Person.ID }}"
>
  <h1 class="flex items-baseline gap-2 text-xl font-semibold">
    <a
      class="text-sm text-neutral-500 dark:text-neutral-400 focus:outline-none focus-visible:outline-dashed focus-visible:rounded-sm focus-visible:outline-offset-2 focus-visible:outline-neutral-400 dark:focus-visible:outline-neutral-600"
      href="#"
      _="on click go back"
    >
      ..
    </a>
    <span class="font-regular text-neutral-400">/</span>{{ .Person.Name }}
  </h1>

  <!-- prettier-ignore -->
  {{ template "credit" (map "Title" "Cast" "Data" .Person.Cast )}}
  {{ template "credit" (map "Title" "Director" "Data" .Person.Director )}}
  {{ template "credit" (map "Title" "Writer" "Data" .Person.Writer )}}
  {{ template "credit" (map "Title" "Producer" "Data" .Person.Producer )}}
  {{ template "credit" (map "Title" "Composer" "Data" .Person.Composer )}}
</div>
