<div class="mx-auto flex max-w-xl flex-col gap-8 px-5 py-8">
  <section
    class="flex flex-col md:text-sm gap-4 text-neutral-500 dark:text-neutral-400"
  >
    <dl class="grid grid-cols-[max-content_1fr] gap-x-6 gap-y-2">
      <dd class="font-semibold">Unique movies seen</dd>
      <dt class="tabular-nums">{{ .Stats.UniqueMovies }}</dt>
      <dd class="font-semibold">Movies seen with rewatches</dd>
      <dt class="tabular-nums">{{ .Stats.SeenWithRewatches }}</dt>
      <dd class="font-semibold">Minutes</dd>
      <dt class="tabular-nums">
        {{ .Stats.TotalRuntime }} min ({{ .FormattedTotalRuntime }})
      </dt>
    </dl>
  </section>
</div>
