@scope (.button) {
  :scope {
    --background: var(--color-content-primary);
    --color: var(--color-background-primary);

    color: var(--color);
    cursor: pointer;
    background-color: var(--background);
    border-radius: var(--rounded-sm);

    &:hover .state {
      background-color: rgb(0 0 0 / 10%);
    }

    &:active .state {
      background-color: rgb(0 0 0 / 30%);
    }

    &.htmx-request .content {
      display: none;
    }

    &.htmx-request .loading {
      display: block;
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    .state {
      display: flex;
      column-gap: var(--spacing-2);
      align-items: center;
      justify-content: center;
      padding-block: var(--spacing-2);
      padding-inline: var(--spacing-6);
      transition: background-color 150ms ease-in-out;
    }

    .loading {
      display: none;
      transition: opacity 300ms ease-in-out;
    }
  }
}

@scope (.button.secondary) {
  :scope {
    --background: transparent;
    --color: var(--color-content-secondary);

    transition: color 150ms ease-in-out;

    .state {
      padding: 0;
    }

    &:hover {
      color: var(--color-content-primary);
    }
  }
}
