package layout

import "believer/movies/components/typography"

type BodyProps struct {
	Title string
}

templ Body(p BodyProps) {
	<main>
		<section class="layout">
			@typography.H1() {
				{ p.Title }
			}
			{ children... }
		</section>
	</main>
}
