package layout

import "believer/movies/components/navigation"

type Props struct {
	Title       string
	Description string
}

templ Layout(p Props) {
	@Html() {
		<nav>
			<section>
				@navigation.Home()
			</section>
		</nav>
		@Body(BodyProps{Title: p.Title}) {
			{ children... }
		}
	}
}
