:root {
  /* Colors */
  --color-white: #fff;

  --color-yellow-200: oklch(0.945 0.129 101.54);
  --color-yellow-800: oklch(0.476 0.114 61.907);

  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-950: oklch(0.145 0 0);

  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-max: calc(infinity * 1px);

  --rounded-sm: 4px;

  /* Font */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;

  /* Background */
  --color-background-primary: light-dark(
    var(--color-white),
    var(--color-neutral-900)
  );
  --color-background-secondary: light-dark(
    var(--color-neutral-200),
    var(--color-neutral-800)
  );
  --color-background-tertiary: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-700)
  );

  /* Border */
  --color-border-primary: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-700)
  );

  /* Content */
  --color-content-primary: light-dark(
    var(--color-neutral-700),
    var(--color-neutral-300)
  );
  --color-content-secondary: light-dark(
    var(--color-neutral-500),
    var(--color-neutral-400)
  );
  --color-content-tertiary: light-dark(
    var(--color-neutral-400),
    var(--color-neutral-600)
  );
  --color-content-quarternary: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-700)
  );
  --color-content-highlight: light-dark(
    var(--color-yellow-800),
    var(--color-yellow-200)
  );
}
