/* TODO:
*
* - Use sibling-count() or something to set grid styling together
* with conditional display styling
*
* display: if(style(--list-style: none): flex; else: grid;);
*
*/

@import "root.css" layer(base);

/* START:GENERATED */
@import "components/button.css" layer(components);
@import "components/checkbox.css" layer(components);
@import "components/collapsible.css" layer(components);
@import "components/dropdown.css" layer(components);
@import "components/empty-state.css" layer(components);
@import "components/graph.css" layer(components);
@import "components/icon.css" layer(components);
@import "components/input.css" layer(components);
@import "components/link.css" layer(components);
@import "components/description-list.css" layer(components);
@import "components/list.css" layer(components);
@import "components/popover.css" layer(components);
@import "components/section.css" layer(components);
@import "components/seen.css" layer(components);
@import "components/separator.css" layer(components);
@import "components/typography.css" layer(components);
/* END:GENERATED */

@layer base, components, views;

@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0 solid;
  }

  ::placeholder {
    color: color-mix(in oklch, currentColor 50%, transparent);
  }

  :focus-visible {
    outline: 1px dashed var(--color-content-secondary);
    outline-offset: var(--spacing-1);
    border-radius: var(--border-radius, 1px);
  }

  :where(html) {
    scrollbar-gutter: stable;
    font-family: ui-sans-serif, system-ui;
    line-height: 1.5;
    /* Enable light and dark mode colors */
    color-scheme: light dark;

    @media (prefers-reduced-motion: no-preference) {
      interpolate-size: allow-keywords;
    }
  }

  body {
    margin: 0;
    color: var(--color-content-primary);
    background-color: var(--color-background-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  :where(button, input, select, textarea) {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border-radius: 0;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  svg {
    display: block;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  button {
    cursor: pointer;
  }

  .layout {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-8);
    max-width: 36rem;
    padding-inline: var(--spacing-5);
    padding-top: var(--spacing-2);
    padding-bottom: calc(env(safe-area-inset-bottom) + 32px);
    margin-inline: auto;

    @media (width <= 480px) {
      padding-top: var(--spacing-8);
    }
  }

  .contents {
    display: contents;
  }
}

/* Scroll driven animation to fade in date indicators
* Note that the order of the properties seems to be important here,
* animation needed to be before animation-timeline.
* */
@media (prefers-reduced-motion: no-preference) and (min-width: 1024px) {
  @supports (animation-range: 0 50vh) {
    .feed-list__year,
    .feed-list__month {
      opacity: 0;
      transform: translateY(50px);
      animation: fade-in linear forwards;
      animation-timeline: view();
      /* Start at 0px (when it comes into view), end at half the screen height */
      animation-range: 0 50vh;
    }

    @keyframes fade-in {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/**
 * Components
 * ============================================================ */

@layer components {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding-inline: var(--spacing-5);
    padding-top: var(--spacing-5);

    .link {
      font-size: 1rem;
    }

    section {
      display: flex;
      column-gap: var(--spacing-4);
      align-items: center;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-6);
    max-width: 36rem;
    padding-block: var(--spacing-8);
    padding-inline: var(--spacing-5);
    margin-inline: auto;

    .form__error {
      padding: var(--spacing-4);
      color: var(--color-content-negative);
      border: 1px dashed var(--color-content-negative);
      border-radius: var(--rounded-sm);

      &:empty {
        display: none;
      }
    }

    header .link {
      font-size: 1rem;
    }

    footer {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-4);
    }
  }
}

/**
 * Views
 * ============================================================
 */

@layer views {
  .overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    color: var(--color-content-secondary);
  }

  .feed-search {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-8);
    max-width: 36rem;
    padding-inline: var(--spacing-5);
    padding-top: var(--spacing-6);
    margin-inline: auto;

    @media (width >= 1024px) {
      padding-top: 0;
    }
  }

  .feed-list {
    position: relative;
    font-size: var(--text-sm);

    :where(& > :not(:last-child)) {
      margin-block-end: var(--spacing-6);
    }

    &.feed-list--person {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-3);

      :where(& > :not(:last-child)) {
        margin-block-end: 0;
      }
    }

    /**
     * These handle positioning when the element sticks,
     * .year and .month are use to align with the list items
     */
    .feed-list__year-wrap {
      position: sticky;
      top: 0;
      z-index: 20;
      margin-block: 0;

      @media (width >= 1024px) {
        top: var(--spacing-4);
      }
    }

    .feed-list__year {
      display: block;
      padding-block: var(--spacing-2);
      font-family:
        Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-size: var(--text-3xl);
      line-height: 2.25rem;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: light-dark(
        rgba(163 163 163 / 1),
        rgba(82 82 82 / 1)
      );
      background-color: var(--color-background-primary);

      @media (min-width: 1024px) {
        position: absolute;
        top: -1rem;
        left: -13rem;
        z-index: 20;
        padding-block: var(--spacing-4);
        font-size: 4.5rem;
        line-height: 1;
      }
    }

    .feed-list__month-wrap {
      position: sticky;
      top: 48px;
      z-index: 10;
      margin-block: 0;

      @media (width >= 1024px) {
        top: 96px;
      }
    }

    .feed-list__month {
      padding-block: var(--spacing-1);
      font-size: var(--text-lg);
      color: var(--color-content-tertiary);
      background-color: var(--color-background-primary);

      @media (width >= 1024px) {
        position: absolute;
        top: -4px;
        left: -196px;
        z-index: 10;
        width: 160px;
        font-size: var(--text-xl);
        text-align: right;
      }
    }

    .feed-list__card {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-4);
      border-radius: var(--rounded-sm);

      header {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-1);

        h2 {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1rem;
          font-weight: 500;
          white-space: nowrap;
        }

        .subtitle {
          font-size: var(--text-xs);
          color: var(--color-content-secondary);
        }
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-8);
    max-width: 36rem;
    padding-block: var(--spacing-8);
    padding-inline: var(--spacing-5);
    margin-inline: auto;

    @media (width >= 1024px) {
      max-width: 64rem;
      padding-top: 48px;
    }

    .stats__content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;

      @media (width >= 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .stats__column {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-8);
    }
  }

  .rating {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-4);
  }

  .new-movie-search__card {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2);
    padding: var(--spacing-2);
    background-color: var(--color-background-primary);
    border-radius: var(--rounded-sm);
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: var(--color-background-secondary);
    }
  }

  .new-movie__series {
    display: flex;
    column-gap: var(--spacing-4);

    > div {
      flex-grow: 1;
    }
  }

  .new-movie__selected-series {
    font-size: var(--text-xs);
    color: var(--color-content-secondary);

    &:empty {
      display: none;
    }
  }

  .movie__overview {
    color: var(--color-content-secondary);
  }

  .global-rating {
    display: flex;
    column-gap: var(--spacing-2);
    align-items: center;

    .global-rating__users {
      font-size: var(--text-xs);
      color: var(--color-content-secondary);
    }
  }

  .movie {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-8);
  }

  .movie-awards__meta {
    display: flex;
    column-gap: var(--spacing-1);
  }

  .watched__primary {
    color: var(--color-content-primary);
  }

  .watched__secondary {
    font-size: var(--text-xs);
  }

  .watched__in-watchlist {
    display: flex;
    column-gap: var(--spacing-2);
    align-items: center;
  }

  .highest-rating__rank {
    display: flex;
    column-gap: var(--spacing-1);
    align-items: baseline;
    font-size: var(--text-sm);
    font-variant-numeric: tabular-nums;
    line-height: 1;
    color: var(--color-content-secondary);
  }

  .highest-rating__movies {
    font-size: var(--text-xs);
    color: var(--color-content-tertiary);
  }

  .not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;

    > div {
      text-align: center;
    }

    h1 {
      font-size: var(--text-xl);
      font-weight: 700;
    }
  }

  .search-results {
    padding: var(--spacing-2);
    font-size: var(--text-xs);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--rounded-sm);

    &:empty {
      display: none;
    }
  }

  .settings {
    position-area: bottom left;
    position-try: flip-block;
    background-color: var(--color-background-secondary);
    margin-top: var(--spacing-2);
    padding: var(--spacing-4);
    box-shadow: 4px 4px 4px hsl(0 0 0 / 0.05);
    border-radius: var(--rounded-sm);
    border: 1px solid var(--color-border-primary);
    translate: 50% 0;
    opacity: 1;
    transition:
      opacity 200ms,
      translate 300ms;

    &:popover-open {
      opacity: 1;
      translate: 24px 0;

      @starting-style {
        opacity: 0;
        translate: 24px calc(-1 * var(--spacing-2));
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      row-gap: var(--spacing-2);
      align-items: flex-end;
    }

    .input {
      flex-direction: row;
      column-gap: var(--spacing-2);
      align-items: center;
    }
  }
}
