package components

templ Link(href string, hyperscript string) {
	<a
 		class="truncate border-b border-dashed border-neutral-500 focus:outline-none focus-visible:rounded-sm focus-visible:outline-dashed focus-visible:outline-offset-2 focus-visible:outline-neutral-400 dark:border-neutral-400 dark:focus-visible:outline-neutral-600"
 		href={ templ.URL(href) }
 		if hyperscript != "" {
			_={ hyperscript }
		}
	>
		{ children... }
	</a>
}
