package components

templ H1(text string, toRoot bool) {
	<header class="flex gap-x-2 items-baseline text-xl font-semibold">
		@Link(LinkProps{
			AriaLabel:   "Back",
			Href:        "#",
			Hyperscript: "on click go back",
			ToRoot:      toRoot,
		}) {
			..
		}
		<span class="font-regular text-neutral-400">/</span>
		<h1>{ text }</h1>
	</header>
}
