.description-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: var(--spacing-2);
  column-gap: var(--spacing-6);

  @container (width <= 400px) {
    display: block;

    dt:nth-child(even) {
      margin-top: calc(var(--spacing-1) / 2);
      margin-bottom: var(--spacing-2);
    }

    :last-child > dt {
      margin-bottom: 0;
    }
  }

  .dd {
    font-weight: 600;
  }

  .dt {
    display: flex;
    flex-direction: var(--style, row);
    flex-wrap: wrap;
    gap: var(--spacing, var(--spacing-2));
    /* TODO: Use if() */
    align-items: var(--align, flex-start);

    .dt--tabular {
      overflow: hidden;
      font-variant-numeric: tabular-nums;
    }

    .detail {
      font-size: var(--text-xs);
    }
  }
}
