.list {
  container-type: inline-size;
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: var(--spacing-2);
  counter-reset: count;

  li:not(:has(.row)),
  li .row {
    --align-items: flex-end;

    display: flex;
    column-gap: var(--spacing-4);
    align-items: var(--align-items, flex-end);
    justify-content: space-between;
    list-style: initial;
    counter-increment: count;

    /* No links should place items on baseline */
    &:not(:has(a)) {
      --align-items: baseline;
    }

    > .separator {
      min-width: 40px;
    }

    &.numbered {
      display: grid;
      grid-template-columns: var(--number-col, 1ch) auto 1fr auto;

      &::before {
        font-variant-numeric: tabular-nums;
        color: var(--color-content-tertiary);
        text-align: right;
        content: counter(count);
      }
    }

    .trailing {
      display: flex;
      column-gap: var(--trailing-gap, var(--spacing-2));
      align-items: center;
      font-variant-numeric: tabular-nums;
      line-height: 1;
      text-align: right;
      white-space: nowrap;

      .secondary {
        font-size: var(--text-sm);
        color: var(--color-content-secondary);
      }
    }

    @container (width <= 400px) {
      &.wrapped {
        flex-direction: column;
        row-gap: var(--spacing-1);
        align-items: flex-start;

        .separator {
          display: none;
        }
      }
    }
  }

  li .row {
    > :first-child {
      color: var(--color-content-primary);
    }
  }

  .detail {
    display: inline-flex;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--text-xs);
    white-space: nowrap;

    .comma {
      margin-right: var(--spacing-1);
    }

    .link {
      font-size: inherit;
      color: inherit;
    }
  }

  + .note {
    font-size: var(--text-xs);
    color: var(--color-content-secondary);
    text-align: right;
  }
}
