package list

type Props struct {
	ID    string
	Class string
}

templ Ol(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<ol
		class={ "list",p.Class }
		if p.ID != "" {
			id={ p.ID }
		}
	>
		{ children... }
	</ol>
}

templ Trailing() {
	<span class="trailing">
		{ children... }
	</span>
}
