package list

type Props struct {
	Class string
}

templ Ol(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<ol class={ "list",p.Class }>
		{ children... }
	</ol>
}

templ Trailing() {
	<span class="list-item__trailing">
		{ children... }
	</span>
}
