<section class="flex flex-col gap-4">
  {{ template "partials/data-section-title" "Ratings"}}
  <svg role="img" viewBox="0 0 {{ .Width }} {{ .Height }}">
    {{ range .Data}}
    <g
      class="fill-neutral-100 [@media(any-hover:hover){&:hover}]:fill-neutral-200 dark:fill-neutral-800 dark:[@media(any-hover:hover){&:hover}]:fill-neutral-700"
      _="on mouseenter add .opacity-100 to <text /> in me
         on mouseleave remove .opacity-100 from <text /> in me
         on touchstart toggle .opacity-100 on <text /> in me
         on touchstart add .fill-neutral-200 .dark:fill-neutral-700
         on touchend wait 1s then
            remove .fill-neutral-200 .dark:fill-neutral-700
            remove .opacity-100 from <text /> in me
         end"
    >
      <rect
        class="stroke-neutral-400 dark:stroke-neutral-600"
        width="{{ .BarWidth }}"
        height="{{ .BarHeight }}"
        stroke-dasharray="4 2"
        rx="2"
        ry="2"
        x="{{ .BarX }}"
        y="{{ .BarY }}"
      ></rect>
      <text
        class="opacity-0 transition-opacity fill-neutral-400 dark:fill-neutral-400 text-sm tabular-nums"
        x="{{ .LabelX }}"
        y="{{ .LabelY }}"
      >
        {{ .Label }}
      </text>
      <text
        class="fill-neutral-400 dark:fill-neutral-500 opacity-0 transition-opacity text-sm tabular-nums"
        x="{{ .ValueX }}"
        y="{{ .ValueY }}"
      >
        {{ .Value }}
      </text>
    </g>
    {{ end }}
  </svg>
</section>
