package popover

import "sync/atomic"

type Props struct {
	Content templ.Component
	Toggle  templ.Component
}

var counter uint64

templ Popover(props Props) {
	{{ var id = atomic.AddUint64(&counter, 1) }}
	<button popovertarget={ id } class="popover-button focus">
		@props.Toggle
	</button>
	<div id={ id } popover class="popover">
		@props.Content
	</div>
}
