package emptystate

type Props struct {
	ID string
}

templ EmptyState(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<ol
		if p.ID != "" {
			id={ p.ID }
		}
	>
		<li class="empty-state">
			{ children... }
		</li>
	</ol>
}
