package emptystate

templ EmptyState() {
	<ol>
		<li data-type="list-item" class="text-content-secondary list-none rounded-sm border border-dashed px-5 py-8 text-center border-border-primary">
			{ children... }
		</li>
	</ol>
}
