package auth

templ IsAuthenticated() {
	if ctx.Value("IsAuthenticated").(bool) {
		{ children... }
	}
}

templ IsNotAuthenticated() {
	if !ctx.Value("IsAuthenticated").(bool) {
		{ children... }
	}
}
