.multi-select {
  font-size: var(--text-sm);
  color: var(--color-content-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--spacing-1);

  option {
    padding-block: var(--spacing-1);
    padding-inline: var(--spacing-2);
  }
}
